.container {
  display: grid;
  grid-template-columns: 300px auto;
}

.country_list ul {
  height: 540px;
  overflow:auto;
  overflow-y:scroll;
}

.list_p {
  margin-left: 30px;
}

.country_info {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto auto;
  padding: 20px;
}

.flag_img {
  width: 300px;
  border: 1px solid lightgrey;
}

.empty_sign {
  display: block;
  place-self: center;
}

.info_div {
  display: grid;
}
